.linkBanner {
    background-color:#225739;
}

.topLogoImage {
    padding: 28px 10px;
}

.rightColumn {
    float: right;
    margin: 1em 5em;
    padding-bottom: 10px;
    width: 215px;
}


.sidebarCmu {
	float: right;
	margin: 2% 0 2% 1.75%;
	padding-bottom: 10px;
	width: 192px;
	width:22%;
	padding:0.5%;
}

.pageNavColumnCmu {
	background-color:#F3F3F3;
	border: 1px solid #d3d3d3;
	margin:2% 1.75%;
	padding: 2.5%;
}
