div .bibResourceSidebar {
    display:block;
}

.bibResourceSidebar {
    width:208px;
}

.pageContentColumn {
    width:100%;
    padding:0;
}

.rightBib {
    float:right;
    width:210px;
    padding-right:15px;
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;
    float: right;
    margin: 2% .75%;
    padding: 0.5%;
    width: 19%;
}

.rightColumn {display:none;}

.chat-widget, #frontChat {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 597px;
}