.linkBanner {
    background-color:#402C61;
}

.linkBanner .navLeft { margin-top:4px; }

.linkBanner .navRight ul li:first-child { margin-right:0em; margin-left:0em; }

.minHeight {
    width:1028px;
}

.pageContentColumn {
    width:100%;
    padding:0;
}

.topLogo img {
    display:block; 
}
