.bibDisplayContentMain {
    width: 60%;
}

.linkBanner {
    background-color:#402C61;
}

.linkBanner .navLeft { margin-top:4px; }

.linkBanner .navRight ul li:first-child { margin-right:0em; margin-left:0em; }

.minHeight {
    width:1028px;
}

.pageContentColumn {
    width:72%;
}

.pageNavColumn {
    width:18%
}


.topLogo img {
    display:block; 
}

.syn_title {
    color: #767C70;
    font-weight: bold;
    width: 13.5%;
    text-align:right;
    clear:both;
    margin-right:.8em;
}

.syn_body {
    width:70%;
}

.syn_title, .syn_body {
    font-size: .9em;
    float: left;
    margin-top:.5em;
}

.syn_body p {
    margin:0;
}