.bibDisplayContentMain {
    width: 65%;
}

.bibDisplayJacket {
    width:100px;
}

.linkBanner {
    background-color:#990000;
}

.linkBanner .navLeft { margin-top:4px; }

.linkBanner .navRight ul li:first-child { margin-right:0em; margin-left:0em; }

.minHeight {
    width:1067px;
}