.bibDisplayContentMain {
    width: 65%;
}

.bibDisplayJacket {
    width:100px;
}

.bibDisplayPermLink {
    float:left;
    margin-bottom:1.5em;
}

.linkBanner {
    background-color:#990000;
    padding:.5em 0 .8em;
}

.linkBanner .navLeft { margin-top:4px; }

.linkBanner .navRight ul li:first-child { margin-right:0em; margin-left:0em; }

.minHeight {
    width:1067px;
}

.pageContentColumn {
    width:100%;
    margin-left:0;
    padding:0;
}