.bibDisplayContentMain {
    width: 61.5%;
}

.bibDisplayPermLink {
    float:left;
    margin-bottom:1.5em;
}

.linkBanner {
    background-color:#990000;
    padding:.5em 0 .8em;
}

.linkBanner .navLeft { margin-top:4px; }

.linkBanner .navRight ul li:first-child { margin-right:0em; margin-left:0em; }

.mainSearch { margin-bottom:40px; }

.minHeight {
    width:1067px;
}

.topLogo img {
    display:block; 
}

.rightColumn {
	background-color: #F3F3F3;
    border: 1px solid #D3D3D3;
    float: right;
    margin: 2% 1.75%;
    padding: 0.5%;
    width: 19%;
}